<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="../../assets/css/about_us.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <button id="back-to-top-btn"><i class="fas fa-angle-double-up"></i></button>
    <div class="bigBox">
        <div id="navi">
            <nav>
                <a href="../index.html">
                    <img src="../../assets/images/logoja.png" id="logo">
                </a>
                <ul>
                    <li class="active"><a href="../index.html">Home </a></li>
                    <li id="users"><a href="users.html">Users </a></li>
                    <li id="login"><a href="#">Login</a>
                        <div class="nav-area-1">
                            <a href="login_teacher.html">Teacher</a><br>
                            <a href="login_student.html">Student</a>
                        </div>
                    </li>
                    <li id="signup"><a href="register.html">Sign up</a> </li>
                    <li id="lectures"><a href="lectures.html">Lectures </a></li>
                    <li id="addLecture"><a href="add_lecture.html">Add lecture </a></li>
                    <li><a href="about_us.html">About us</a></li>
                    <li id="logOUT"><a href="#">Log out </a></li>
                </ul>
            </nav>
            </div>
        
        <div id="outt">    
             <div class="about-box">
                <img id="online" src="https://www.profenglish.center/file/2020/06/front-pic.png">
                <h1>About Us </h1>
                <p id="par">
                    This is a program which tries to create a class forum in which it will be possible<br> to communicate between the teacher and the students of the class.<br>
                    The teacher will distribute lectures and students will have the opportunity<br> to comment on the lecture and normally respond to certain tasks.
                    <br>Thank you for visiting our site, we always welcome you.<br> For further information contact us on one of the social media below.<br><br><br><br><br><br><hr>
                    <h2>"And be carefull studens study hard and remember that only with hard work you can achive everything you want!"</h2><hr>
                </p>
             </div>
        
            <div class="plus">
                <div class="card">
                    <div class="imgBx">
                        <img src="https://previews.123rf.com/images/macrovector/macrovector1601/macrovector160100225/50340857-internet-of-things-iot-home-household-appliances-and-car-control-security-concept-isometric-banner-a.jpg"></img>
                    </div>
                    <div class="content1">
                    <h3>Internet Of Things</h3>
                    <p id="paragraf1">"The internet of things has the potential
                         to change the world, just as Internet did. Maybe even more !"  </p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx">
                        <img src="https://cdn.proschoolonline.com/wp-content/uploads/2019/03/6-types-of-people-you-must-add-to-your-network.jpg"></img>
                    </div>
                    <div class="content2">
                        <h3>Networking</h3>
                        <p id="paragraf2">"Networking is not about collecting contancts.
                            Networking is about planting relationships!""</p>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/184/347/non_2x/vector-data-graphic-visualization-big-data-analytics-visualization-with-lines-dots-and-arrow-elements.jpg"></img>
                    </div>
                    <div class="content3">
                    <h3>Big Data</h3>
                    <p id="paragraf3">"Data is the new science. Big data holds the answers. 
                        Are you asking the right questions?"</p>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
<footer>
        <div class="wrapper">
            <div class="button">
              <div class="icon">
      <i class="fab fa-facebook-f"></i></div>
      <a href="https://www.facebook.com/"><span>Facebook</span></a></div>
            
      <div class="button">
              <div class="icon">
      <i class="fab fa-twitter"></i></div>
      <a href="https://twitter.com/?lang=en"><span>Twitter</span></a></div>

      <div class="button">
              <div class="icon">
      <i class="fab fa-instagram"></i></div>
      <a href="https://www.instagram.com/?hl=en"><span>Instagram</span></a></div>

      <div class="button">
              <div class="icon">
      <i class="fab fa-github"></i></div>
      <a href="https://github.com/"><span>Github</span></a></div>

      <div class="button">
              <div class="icon">
      <i class="fab fa-youtube"></i></div>
      <a href="https://www.youtube.com/"><span>YouTube</span></a></div>
      </div>

    </footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../scripts/aboutus.js"></script>

</html>