<html>
    <head>
        <title>Lectures</title>
        <link rel="stylesheet" href="../../assets/css/lectures.css">
        <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    </head>
    <body>
        <div class="containeer">
        <div id="navi">
            <nav>
                <a href="../index.html">
                    <img src="../../assets/images/logoja.png" id="logo">
                </a>
                <ul>
                    <li class="active"><a href="../index.html">Home</a></li>
                    <li id="users"><a href="users.html">Users </a></li>
                    <li id="login"><a href="#">Login</a>
                        <div class="nav-area-1">
                            <a href="login_teacher.html">Teacher</a><br>
                            <a href="login_student.html">Student</a>
                        </div>
                    </li>
                    <li id="signup"><a href="register.html">Sign up</a> </li>
                    <li id="lectures"><a href="#">Lectures </a></li>
                    <li id="addLecture"><a href="add_lecture.html">Add lecture </a></li>
                    <li><a href="about_us.html">About us</a></li>
                    <li id="logOUT"><a href="#">Log out </a></li>
                </ul>
            </nav>
        </div>

        <div id="leksionet">
            
        </div>

        <div id="komentet">
        <label for="koment">Comments</label><br>
        <textarea id="teksti" rows="4" placeholder="You can leave your comment here."></textarea>
        <button id="submiti">Submit</button>
        </div>

        <div id="komentettt">

        </div>

        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../scripts/lectures.js"></script>
</html>