<html>
<head>
    <title>LOGIN</title>
    <link rel="stylesheet" href="../../assets/css/login_student.css" type="text/css">
    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class ="containerr">
        <div id="navi">
            <nav>
                <a href="../index.html">
                    <img src="../../assets/images/logoja.png" id="logo">
                </a>
                <ul>
                    <li class="active"><a href="../index.html">Home</a></li>
                    <li id="users"><a href="users.html">Users</a></li>
                    <li id="login"><a href="#">Login</a>
                        <div class="nav-area-1">
                            <a id="teaach" href="login_teacher.html">Teacher</a><br>
                            <a id="stud" href="login_student.html">Student</a>
                        </div>
                    </li>
                    <li id="signup"><a href="register.html">Sign up</a> </li>
                    <li id="lectures"><a href="lectures.html">Lectures</a></li>
                    <li id="addLecture"><a href="add_lecture.html">Add lecture</a></li>
                    <li><a href="about_us.html">About us</a></li>
                    <li id="logOUT"><a href="#">Log out</a></li>
                </ul>
            </nav>
            </div>
    <div id="jashte">
        <img src="https://static.vectorcharacters.net/uploads/2013/03/Schoolboy_Vector_Character_Preview.jpg" id="student">
        <div class="login_box">
            <form method="post">
                 <div class="loginBox">
                    <img src="https://www.flaticon.com/svg/static/icons/svg/201/201565.svg" class="usrImg">
                 </div>
                    <h2>Login into your account</h2>
                 <div class="input_box">
                    <input type="text" id="username" name="name" required>
                    <label><i class="fa fa-user"></i>Username</label>
                 </div>
                 <div class="input_box">
                    <input type="password" id="password" name="password" required>
                    <label><i class="fa fa-lock"></i>Password</label>
                </div>
                <button  id="logini" name="" value="Submit">LogIn</button>
                <p class="text">Do you have an account? <a href="register.html">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../scripts/login_student.js"></script>
</html>

<script type="text/javascript"
src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>