<html>
    <head>
        <title>Users</title>
        <link rel="stylesheet" href="../../assets/css/users.css">
        <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
    </head>

<body>
    <div id="auto">
        <div id="navi">
            <nav>
                <a href="../index.html">
                    <img src="../../assets/images/logoja.png" id="logo">
                </a>
                <ul>
                    <li class="active"><a href="../index.html">Home </a></li>
                    <li id="users"><a href="#">Users </a></li>
                    <li id="login"><a href="#">Login</a>
                        <div class="nav-area-1">
                            <a href="login_teacher.html">Teacher</a><br>
                            <a href="login_student.html">Student</a>
                        </div>
                    </li>
                    <li id="signup"><a href="register.html">Sign up</a> </li>
                    <li id="lectures"><a href="lectures.html">Lectures </a></li>
                    <li id="addLecture"><a href="add_lecture.html">Add lecture </a></li>
                    <li><a href="about_us.html">About us</a></li>
                    <li id="logOUT"><a href="#">Log out </a></li>
                </ul>
            </nav>
        </div>

        <div id="container2">
            <h2>Dear professor.</h2>
            <h4>In the table below you can check all the registered students.</h4>
            <table id="useratt">

            </table>
            <a id="shfaqTab" href="#">Show Points</a>
        </div>

        <div id="Points">
            <table id="tabelaPiket">
            </table>
            <button id="zhduk">Disappear</button>
        </div>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../scripts/users.js"></script>
</html>
